.nav {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1rem;
  top: 0;
}

.nav > div {
  background-color: aquamarine;
}

.characters {
  display: flex;
  flex-direction: column;
}
